body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg {
    /* The image used */
    background-image: url( img/background.jpg );
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texts {
    padding-left: 2%;
}

input {
    padding-left: 2%;
}

.center {
    margin: 0px;
    width: 50%;
    padding: 0px;
  }

.loader {
    position: relative;
    left: 12%;
    top: 10%;
    border: 16px solid #9c9692;
    border-radius: 50%;
    border-top: 16px solid #2a630f;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loadingCaption {
    position: relative;
    left: 5%;
    top: 10%;
    font-size: 1.5vw;
}

.button {
    padding-left: 1%;
    padding-right: 1%;
}